body{
    background-color: yellowgreen;  
}
#daRedBox {
    position: absolute;
    top:25%;
    height: 50%;
    width: 75%;
    background-color: crimson;
}

h1 {
    cursor: crosshair;
    position: relative;
    text-align: center;
    top: 25%;
}